@*@model CarModificationCenter.Models.website_users
<!--update passwords-->
<div class="modal fade" id="password" role="dialog">
    <div class="modal-dialog" style="width: 600px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Update user account details</strong></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(u => u.Password, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.PasswordFor(u => u.Password, new { @class = "col-lg-6 control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(u => u.NewPassword, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.PasswordFor(u => u.NewPassword, new { @class = "col-lg-6 control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(u => u.ConfirmPassword, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "col-lg-6 control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <button class="btn btn-default" type="submit">Save</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>*@
